<div class="dropdown-scroll"
     [ngClass]="{
  'dropdown-scroll--activated': filterActive
  }"
>
  <header class="dropdown-scroll__header">
    <span>Selecione uma lista</span>
    <button class="filter__header__button" (click)="toggleCollapse()"
            [ngClass]="{
      'filter__header__button--rotate': filterActive
      }"
    >
      <svg-arrow></svg-arrow>
    </button>
  </header>
  <div *ngIf="filterActive" class="dropdown-scroll__body">
    <div class="list-style" (scroll)="onScroll($event)">
      <div class="list-item" *ngFor="let item of list" (click)="selectValue(item)">{{item.name}}</div>
    </div>
  </div>
</div>
