<div
  class="filter"
  [ngClass]="{
  'filter--activated': filterActive
  }"
>
  <header class="filter__header">
    <span>Selecione uma lista</span>
    <button class="filter__header__button" (click)="toggleCollapse()"
            [ngClass]="{
      'filter__header__button--rotate': filterActive
      }"
    >
      <svg-arrow></svg-arrow>
    </button>
  </header>
  <div
    *ngIf="filterActive"
    class="filter__body"
    [ngClass]="{
      'filter__body--activated': filterActive
    }"
  >
    <div class="list" (scroll)="onScroll($event)">
      <div class="list__item" *ngFor="let item of list" (click)="selectValue(item)">{{item.name}}</div>
    </div>
  </div>
</div>

