<form [formGroup]="formulario" (ngSubmit)="createTask()">
  <app-common-dialog [contentTemplate]="dialogContentTemplate"></app-common-dialog>
  <ng-template #dialogContentTemplate>
    <div class="container-inputs">
      <app-input-dialog
        [control]="formulario.get('description')"
        field="description"
        formControlName="description"
        type="text"
        label="Nome"
        id="description"
      ></app-input-dialog>
      <div>
        <label for="assignmentListId">Lista</label>
        <select formControlName="assignmentListId" name="assignmentListId" id="assignmentListId">
          <option *ngFor="let list of lists" value="{{list.id}}">{{list.name}}</option>
        </select>
      </div>
      <app-input-dialog
        [control]="formulario.get('deadline')"
        field="deadline"
        formControlName="deadline"
        type="date"
        label="Data de conclusão"
        id="deadline"
      ></app-input-dialog>
    </div>
  </ng-template>
</form>
