.container-inputs
  display: grid
  grid-template-columns: 1fr 1fr
  column-gap: 20px
  row-gap: 15px

label
  color: #343A40

select
  width: 100%

  border: 1px solid #CED4DA
  border-radius: 6px
  height: 45px
  padding: 8px

  &:focus
    border: 1px solid #CED4DA
    outline: none
