<form [formGroup]="formulario" (ngSubmit)="createTask()">
  <app-common-dialog [disabled]="formulario.invalid" [contentTemplate]="dialogContentTemplate"></app-common-dialog>
  <ng-template #dialogContentTemplate>
    <div class="container-inputs">
      <app-input-dialog
        [control]="formulario.get('description')"
        field="description"
        formControlName="description"
        type="text"
        label="Nome"
        id="description"
      ></app-input-dialog>
      <div
      >
        <label for="assignmentListId">Lista</label>
        <mat-select
          placeholder="Lista relacionada"
          formControlName="assignmentListId"
          id="assignmentListId"
          (scroll)="scrollHandler($event)"
          class="insights-results"
          #matSelect
        >
          <mat-option *ngFor="let list of lists" [value]="list.id">{{list.name}}</mat-option>
        </mat-select>
        <app-field-control-error
          field="assignmentListId"
          [control]="formulario.get('assignmentListId')"
        />
      </div>

      <app-input-dialog
        [control]="formulario.get('deadline')"
        field="deadline"
        formControlName="deadline"
        type="date"
        label="Data de conclusão"
        id="deadline"
      ></app-input-dialog>
      <app-input-dialog
        [control]="formulario.get('time')"
        field="time"
        formControlName="time"
        type="time"
        label="Hora"
        id="time"
      ></app-input-dialog>
    </div>
  </ng-template>
</form>
