<div
  class="filter"
  [ngClass]="{
  'filter--activated': filterActive
  }"
>
  <header class="filter__header">
    <span>Filtros</span>
    <button class="filter__header__button" (click)="toggleCollapse()"
            [ngClass]="{
      'filter__header__button--rotate': filterActive
      }"
    >
      <svg-arrow></svg-arrow>
    </button>
  </header>
  <div class="divider"></div>
  <div *ngIf="filterActive" class="filter__body">
    <div class="filter__body__group-select">
      <label for="list">Lista</label>
      <mat-select
        value="{{defaultValueSelect}}"
        placeholder="Selecione uma lista aqui"
        id="list"
        (valueChange)="selectList($event)"
        #selectLists
        (closed)="reset()"
      >
        <mat-option *ngFor="let item of lists" value="{{item.id}}">{{item.name}}</mat-option>
      </mat-select>
    </div>
    <div class="filter__body__group-select">
      <label for="deadline">Data de conclusão: </label>
      <input type="date" id="deadline">
    </div>
    <div class="filter__body__group-select">
      <label for="order">Ordernar por</label>
      <mat-select name="order" id="order">
        <mat-option value="">Selecione aqui</mat-option>
      </mat-select>
    </div>
  </div>
</div>

