<div class="card">
  <span
    class="card__situation"
    [ngStyle]="{
      'color': SituationColor[getSituation(task.deadline)]
    }"
  >
    {{getSituation(task.deadline)}}
  </span>
  <div class="card__divider"></div>
  <div class="card__info">
    <div
      class="card__info__content"
      [ngStyle]="{
      'border-color': SituationColor[getSituation(task.deadline)]
      }"
    >
      <span class="card__info__title">{{task.description}}</span>
    </div>
    <div class="card__info__actions">
      <button (click)="onShowActions()" class="card__info__actions__btn-arrow">
        <svg-dots width="15" height="15"/>
      </button>
      <ul *ngIf="showActions" class="card__info__actions__body">
        <li>
          <svg-checked/>
          Concluir
        </li>
        <li>
          <svg-pencil color="#25294C" height="12" width="12"/>
          Editar
        </li>
        <li>
          <svg-trash color="#25294C" height="12" width="12"/>
          Remover
        </li>
      </ul>
    </div>
  </div>
  <div class="card__add-info">
    <span class="card__add-info__type">
      <svg-list color="rgba(51, 51, 51, 0.3)" width="15" height="15"></svg-list>
      Tasks
    </span>
    <span class="card__add-info__date"><svg-clock></svg-clock>
      {{formatDate(task.deadline)}}</span>
  </div>
</div>
