<div class="card">
  <span
    class="card__situation"
    [ngStyle]="{
      'color': SituationColor[getSituation(task.deadline)]
    }"
  >
    {{getSituation(task.deadline)}}
  </span>
  <div class="card__divider"></div>
  <div class="card__info">
    <div
      class="card__info__content"
      [ngStyle]="{
      'border-color': SituationColor[getSituation(task.deadline)]
      }"
    >
      <span class="card__info__title">{{task.description}}</span>
    </div>
    <div class="card__info__actions">
      <button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
              class="card__info__actions__btn-arrow">
        <svg-dots width="15" height="15"/>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onConclude()">
          <svg-checked/>
          <span>Concluir</span>
        </button>
        <button mat-menu-item (click)="onEdit()">
          <svg-pencil color="#25294C" height="12" width="12"/>
          <span>Editar</span>
        </button>
        <button mat-menu-item (click)="onRemove()">
          <svg-trash color="#25294C" height="12" width="12"/>
          <span>Remover</span>
        </button>
      </mat-menu>
    </div>
  </div>
  <div class="card__add-info">
    <span class="card__add-info__type">
      <svg-list color="rgba(51, 51, 51, 0.3)" width="15" height="15"></svg-list>
      Tasks
    </span>
    <span class="card__add-info__date"><svg-clock></svg-clock>
      {{formatDate(task.deadline)}}</span>
  </div>
</div>
