.lists
  background-color: #383838
  border-radius: 10px
  padding: 12px



  &__table
    width: 100%
    table-layout: fixed
    text-align: center
    border-collapse: collapse
    //border: 2px solid #D9DBDE
    border: 3px solid #383838

    tr
      //border: 3px solid #D9DBDE
      border: 3px solid #383838

    thead
      color: #343A40 !important
      background-color: #383838 !important

    th
      text-align: center
      background-color: #4b4949

  &__btn
    width: 30px
    display: flex
    align-items: center
    justify-content: center
    border-radius: 4px
    height: 30px
    border: none

    &--pencil
      background-color: var(--warning)

    &--trash
      background-color: var(--danger)
