.lists
  background-color: white
  border-radius: 10px
  padding: 12px

  &__table
    width: 100%
    table-layout: fixed
    text-align: center
    border-collapse: collapse
    border: 2px solid #D9DBDE

    tr
      border: 3px solid #D9DBDE

    thead
      color: #343A40 !important
      background-color: #E9ECEF !important

      th
        text-align: center


  &__btn
    width: 30px
    display: flex
    align-items: center
    justify-content: center
    border-radius: 4px
    height: 30px
    border: none

    &--pencil
      background-color: var(--warning)

    &--trash
      background-color: var(--danger)
